<a href="https://colab.research.google.com/github/Santiagozaa/mmst/blob/main/MST_CODE_SOLDADORA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
%matplotlib inline
from datetime import datetime
from datetime import timedelta
import matplotlib.pyplot as plt
import plotly.express as px
import cufflinks as cf
import seaborn as sns
cf.go_offline()
cf.set_config_file(offline=False, world_readable=True)
import datetime
from datetime import datetime
from datetime import date
from datetime import datetime, timedelta

In [ ]:
#Lee el archivo csv Ventex072020 - Datos crudosdatos crudos
datos_crudos = pd.read_csv("./sample_data/Ventex072020 - Datos crudos.csv", delimiter = ',')

In [ ]:
#Al archivo csv Ventex072020 - Datos crudos lo convierte en un DataFrame
df = pd.DataFrame(datos_crudos)
#df

In [ ]:
#Agarra la columna que nos interesa
"""{"PE"=>128, "UID"=>"WISE-4051_00D0C9E388AF", "MAC"=>"00-D0-C9-E3-88-AF", "TIM"=>"2022-11-14T06:52:27+08:00", "Record"=>[[0, 0, 2, 12981], [0, 1, 2, 65477], [0, 2, 2, 0], [0, 3, 2, 0], [0, 4, 2, 0], [0, 5, 2, 0], [0, 6, 2, 0], [0, 7, 2, 0]]}"""

'{"PE"=>128, "UID"=>"WISE-4051_00D0C9E388AF", "MAC"=>"00-D0-C9-E3-88-AF", "TIM"=>"2022-11-14T06:52:27+08:00", "Record"=>[[0, 0, 2, 12981], [0, 1, 2, 65477], [0, 2, 2, 0], [0, 3, 2, 0], [0, 4, 2, 0], [0, 5, 2, 0], [0, 6, 2, 0], [0, 7, 2, 0]]}'

In [ ]:
#Convierte la columna que nos interesa a una lista                  [0, 0 numero de contador, 2 el modo que esta trabajando el IoT, 12981 contador], [0 entrada PBZ1, 1 salida PBZ1]                                        //
a = df[["""{"PE"=>128, "UID"=>"WISE-4051_00D0C9E388AF", "MAC"=>"00-D0-C9-E3-88-AF", "TIM"=>"2022-11-14T06:52:27+08:00", "Record"=>[[0, 0, 2, 12981], [0, 1, 2, 65477], [0, 2, 2, 0], [0, 3, 2, 0], [0, 4, 2, 0], [0, 5, 2, 0], [0, 6, 2, 0], [0, 7, 2, 0]]}"""]]

In [ ]:
#A la columna que nos interesa les pone indice a cada columna 
de = a["""{"PE"=>128, "UID"=>"WISE-4051_00D0C9E388AF", "MAC"=>"00-D0-C9-E3-88-AF", "TIM"=>"2022-11-14T06:52:27+08:00", "Record"=>[[0, 0, 2, 12981], [0, 1, 2, 65477], [0, 2, 2, 0], [0, 3, 2, 0], [0, 4, 2, 0], [0, 5, 2, 0], [0, 6, 2, 0], [0, 7, 2, 0]]}"""].str.split(expand=True)
#de.head(20)

In [ ]:
#elimina la columna 0
col1 = de.drop([0], axis=1)

In [ ]:
#elimina la columna 1
col2 = col1.drop([1], axis=1)

In [ ]:
#elimina la columna 2
col3 = col2.drop([2], axis=1)

In [ ]:
#Saca todo lo que no sirve remplazandolo por un vacio

'''print("SOLDADORA ---- 4 al 7")
print("PBZ1 --------- 8 al 11")
print("PBZ2 --------- 11 al 14")'''
da = col3.applymap(lambda x: x.replace('[',''))
de = da.applymap(lambda x: x.replace(']',''))
di = de.applymap(lambda x: x.replace('"',''))
do = di.applymap(lambda x: x.replace(',',''))
du = do.applymap(lambda x: x.replace('+',''))
a = du.applymap(lambda x: x.replace('TIM',''))
b = a.applymap(lambda x: x.replace('=',''))
c = b.applymap(lambda x: x.replace('>',''))
d = c.applymap(lambda x: x.replace('-',''))
e = d.applymap(lambda x: x.replace('Record',''))
f = e.applymap(lambda x: x.replace('08:00',''))
g = f.applymap(lambda x: x.replace('T',''))
h = g.applymap(lambda x: x.replace(':',''))
i = h.applymap(lambda x: x.replace('}',''))

#i

In [ ]:
#Filas y columas 
i.shape

(321, 33)

In [ ]:
#cambiarle el nombre a las columnas
tabla = i.set_axis(['Fecha_Hora', 'S1', 'S2', 'S3','Piezas_Soldadora', 'PBZ1', 'PBZ1.1', 'PBZ1.1.1','Piezas_PBZ1', 'PBZ2', 'PBZ2', 'PBZ2','Piezas_PBZ2', '14', '15', '16','17', '18', '19', '20','21', '22', '23', '24','25', '26', '27', '28','29', '30', '31', '32','33'], axis=1)
#tabla

In [ ]:
#Convierte Fecha_hora en hora 
Fecha_y_Hora = pd.to_datetime(tabla["Fecha_Hora"])
#Fecha_y_Hora

In [ ]:
#Fecha_y_Hora

In [ ]:
#Agrega a la tabla Fecha_y_Hora 
tabla_nueva = tabla.assign(Fecha_y_Hora=pd.to_datetime(tabla["Fecha_Hora"])) 
tabla_nueva.head(2)

,Fecha_Hora,S1,S2,S3,Piezas_Soldadora,PBZ1,PBZ1.1,PBZ1.1.1,Piezas_PBZ1,PBZ2,...,25,26,27,28,29,30,31,32,33,Fecha_y_Hora
0,20221114065727,0,0,2,12981,0,1,2,65477,0,...,0,0,6,2,0,0,7,2,0,2022-11-14 06:57:27
1,20221114070227,0,0,2,12981,0,1,2,65477,0,...,0,0,6,2,0,0,7,2,0,2022-11-14 07:02:27

In [ ]:
#Elimina Fecha_Hora de la tabla
tabla_nueva2 = tabla_nueva.drop(['S1','S2','S3','Fecha_Hora', 'PBZ1','PBZ1.1','PBZ1.1.1', 'Piezas_PBZ1','PBZ2','Piezas_PBZ2','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33'], axis=1)
#tabla_nueva2.head(1)

In [ ]:
#Recorre sobre Fecha_y_Hora y resta el siguiente menos el anterior
for i in range(len(tabla_nueva2['Fecha_y_Hora'])-1):
  diferencia = tabla_nueva2['Fecha_y_Hora'][i+1] - tabla_nueva2['Fecha_y_Hora'][i]
 # print(diferencia)

In [ ]:
#Agrega al DataFrame de tabla el DataFrame de diferencia de Fecha y Hora, agrega una columna
tabla_nueva2['Diferencia_F_H'] = diferencia
#tabla_nueva2

In [ ]:
#Convierte Piezas_Soldadora, S1, S2, S3 y Piezas_PBZ1 a int
Piezas_Soldadora = tabla_nueva['Piezas_Soldadora'].astype(int)  
S1 = tabla_nueva['S1'].astype(int)
S2 = tabla_nueva['S2'].astype(int)
S3 = tabla_nueva['S3'].astype(int) 
#Piezas_PBZ1 = tabla_nueva['Piezas_PBZ1'].astype(int)

In [ ]:
# SOLDADORA 
# Seleccionar entre dos fechas del índice desde las 8 am hasta las 17 pm el dia 2022-11-14 
TURNO1 = tabla_nueva2[(tabla_nueva['Fecha_y_Hora'] >= '2022-11-14 08:00:00') & (tabla_nueva2['Fecha_y_Hora'] <= '2022-11-14 17:00:00')]
TURNO1.head(2)

  Piezas_Soldadora        Fecha_y_Hora  Diferencia_F_H
5            12987 2022-11-14 08:17:27 0 days 00:05:00
6            12989 2022-11-14 08:22:27 0 days 00:05:00

In [ ]:
#CANTIDAD DE PIEZAS SOLDADORA TURNO 1 (EL ACTUAL MENOS EL ANTERIOR)

piezas_soldora_T1 = TURNO1["Piezas_Soldadora"].astype(int)
TURNO1['Contador_Piezas_Soldadora_T1']=piezas_soldora_T1.diff(1)
print("La suma:",TURNO1.loc[TURNO1["Contador_Piezas_Soldadora_T1"]>0,"Contador_Piezas_Soldadora_T1"].sum())
TURNO1.head(1)

La suma: 131.0

,Piezas_Soldadora,Fecha_y_Hora,Diferencia_F_H,Contador_Piezas_Soldadora_T1
5,12987,2022-11-14 08:17:27,0 days 00:05:00,NaN

In [ ]:
#Remplazar los NaN por ceros SOLDADORA TURNO 1
TURNO1['Contador_Piezas_Soldadora_T1'] = TURNO1['Contador_Piezas_Soldadora_T1'].replace(np.nan, 0)
#TURNO1.head(1)

In [ ]:
#TIEMPO CALENDARIO

# Tiempo calendario = hora actual - inicio de turno (8hs) / ultimo dato ejem: 15:10:00 - 08:00:00 
CALENDARIO = TURNO1[['Fecha_y_Hora', 'Contador_Piezas_Soldadora_T1']]
CALENDARIOt1 = pd.DataFrame(CALENDARIO)

# Obtener la última fila con el último valor mayor a cero
last_positive_row = CALENDARIOt1.loc[CALENDARIOt1['Contador_Piezas_Soldadora_T1'].gt(0)].tail(1)

fecha_actual = last_positive_row
fecha_actual[['Fecha_y_Hora']]

# Definir las horas a restar
hora_inicio_turno1 = datetime.strptime('08:00', '%H:%M')
hora_2 = fecha_actual[['Fecha_y_Hora']]

tiempo = hora_2 - hora_inicio_turno1
tiempo

          Fecha_y_Hora
97 44877 days 08:07:31

In [ ]:
#TIEMPO CALENDARIO TURNO 1

tiempo['Fecha_y_Hora'] = tiempo['Fecha_y_Hora'].astype(str)
# Separar la columna Fecha_y_Hora en dos columnas de fecha y hora
tiempo[['Fecha', 'Hora']] = tiempo['Fecha_y_Hora'].str.split(' ', n=1, expand=True)
# Eliminar las columnas 'Columna1' y 'Columna2'
tiempo = tiempo.drop(['Fecha_y_Hora', 'Fecha'], axis=1)
tiempo['Hora'] = tiempo['Hora'].str.replace('days ', '')
tiempo

        Hora
97  08:07:31

In [ ]:
# TIEMPO CALENDARIO TURNO 1
# TRANSFORMAR MINUTOS A SEGUNDOS 

from datetime import timedelta
# Convertir la columna 'Duration' a un objeto timedelta
tiempo['Hora'] = pd.to_timedelta(tiempo['Hora'])
# Extraer el número total de segundos de cada valor timedelta y reemplazar la columna 'Duration'
tiempo['Hora'] = tiempo['Hora'].dt.total_seconds().astype(int)

In [ ]:
tiempo

     Hora
97  29251

In [ ]:
# TIEMPO CALENDARIO TURNO 1
# Agrega a la tabla la columna de Hora 
TABLA_Soldadora['Tiempo_calendario_T1'] = tiempo
TABLA_Soldadora['Tiempo_calendario_T1'] = TABLA_Soldadora['Tiempo_calendario_T1'].fillna(29251)

TABLA_Soldadora.head(1)

,Fecha_y_Hora,Piezas_Soldadora,Cantidad_Piezas_T1_Totales,Cantidad_Piezas_T2_Totales,Cantidad_Piezas_T3_Totales,Tiempo_STD_x_pieza,Tiempo_Produccion,Parada_estado,Contador_Piezas_Soldadora1,lista_mayor1,Paradas_soldadora,Paradas_Totales,Tiempo_calendario_T1
0,2022-11-14 06:57:27,12981,131,0,0,173,300.0,300,0,300,0,65704,29251.0

In [ ]:
'''
Para el TURNO 1: SOLADADORA
Para el TURNO 1: Primero revisa si la columna del turno seleccionado esta vacio o no, si esta vacio no se producieron piezas y en caso contrario agarra el primer y 
ultimo dato y los convierte en int, resta al ultimo dato con el primero. Si la cantidad de piezas hechas es menor a cero no se hicieron piezas y sino te tira la cantidad 
que se hicieron.
'''
if TURNO1['Piezas_Soldadora'].empty == False: 
  Piezas_Soldadora_primer_datoT1 = int(TURNO1['Piezas_Soldadora'][:1])
  Piezas_Soldadora_ultimo_datoT1 = int(TURNO1['Piezas_Soldadora'][-1:])
  cantidadDePiezasHechas1 = Piezas_Soldadora_ultimo_datoT1 - Piezas_Soldadora_primer_datoT1
  if cantidadDePiezasHechas1 < 0:
    print("No se hicieron piezas")
  else:
    print("La cantidad de piezas hechas en el TURNO 1 son: ", cantidadDePiezasHechas1)
else: 
  #Sino hay ninguna fila, llenarlas con ceros, 0.
  cantHechasPiezas1
  print("No se hicieron piezas")

La cantidad de piezas hechas en el TURNO 1 son:  131

In [ ]:
# SOLDADORA
# Agrega a la tabla la columna de Cantidad_Piezas_T1_Totales 
tabla_nueva2['Cantidad_Piezas_T1_Totales'] = cantidadDePiezasHechas1
#tabla_nueva2

In [ ]:
# Seleccionar entre dos fechas del índice desde las 17 pm hasta las 00 pm el dia 2022-11-15
TURNO2 = tabla_nueva2[(tabla_nueva['Fecha_y_Hora'] >= '2022-11-14 17:00:00') & (tabla_nueva2['Fecha_y_Hora'] <= '2022-11-14 00:00:00')]
#TURNO2

In [ ]:
#CANTIDAD DE PIEZAS SOLDADORA TURNO 2 (EL ACTUAL MENOS EL ANTERIOR)

piezas_soldora_T2 = TURNO2["Piezas_Soldadora"].astype(int)
TURNO2['Contador_Piezas_Soldadora_T2']=piezas_soldora_T2.diff(1)
print("La suma:",TURNO2.loc[TURNO2["Contador_Piezas_Soldadora_T2"]>0,"Contador_Piezas_Soldadora_T2"].sum())
TURNO2.head(1)

La suma: 0.0

Empty DataFrame
Columns: [S1, S2, S3, Piezas_Soldadora, Fecha_y_Hora, Diferencia_F_H, Cantidad_Piezas_T1_Totales, Contador_Piezas_Soldadora_T2]
Index: []

In [ ]:
# ARREGLAR TURNO 2 QUE PASA SINO ENTRA NINGUNA PIEZA

#Remplazar los NaN por ceros SOLDADORA TURNO 2
#TURNO2['Contador_Piezas_Soldadora_T1'] = TURNO2['Contador_Piezas_Soldadora_T1'].replace(np.nan, 0)
#TURNO2.head(1)

In [ ]:
'''
SOLADADORA
Para el TURNO 2: Primero revisa si la columna del turno seleccionado esta vacio o no, si esta vacio no se producieron piezas y en caso contrario agarra el primer y 
ultimo dato y los convierte en int, resta al ultimo dato con el primero. Si la cantidad de piezas hechas es menor a cero no se hicieron piezas y sino te tira la cantidad 
que se hicieron.
'''
if TURNO2['Piezas_Soldadora'].empty == False: 
  Piezas_Soldadora_primer_datoT1 = int(TURNO2['Piezas_Soldadora'][:1])
  Piezas_Soldadora_ultimo_datoT1 = int(TURNO2['Piezas_Soldadora'][-1:])
  cantidadDePiezasHechas2 = Piezas_Soldadora_ultimo_datoT1 - Piezas_Soldadora_primer_datoT1
  if cantidadDePiezasHechas2 < 0:
    print("No se hicieron piezas")
  else:
    print("La cantidad de piezas hechas en el TURNO 1 son: ", cantidadDePiezasHechas2)
else: 
  #Sino hay ninguna fila, llenarlas con ceros, 0.
  cantHechasPiezas2 = 0
  print("No se hicieron piezas", cantHechasPiezas2)

No se hicieron piezas 0

In [ ]:
# SOLADADORA
# Agrega a la tabla la columna de Cantidad_Piezas_T2_Totales 
tabla_nueva2['Cantidad_Piezas_T2_Totales'] = cantHechasPiezas2
#tabla_nueva2

In [ ]:
# Seleccionar entre dos fechas del índice desde las 8 am hasta las 17 pm el dia 2022-11-15
TURNO3 = tabla_nueva2[(tabla_nueva['Fecha_y_Hora'] >= '2022-11-14 00:00:00') & (tabla_nueva2['Fecha_y_Hora'] <= '2022-11-14 08:00:00')]
TURNO3

,S1,S2,S3,Piezas_Soldadora,Fecha_y_Hora,Diferencia_F_H,Cantidad_Piezas_T1_Totales,Cantidad_Piezas_T2_Totales
0,0,0,2,12981,2022-11-14 06:57:27,0 days 00:05:00,131,0
1,0,0,2,12981,2022-11-14 07:02:27,0 days 00:05:00,131,0
2,0,0,2,12981,2022-11-14 07:07:27,0 days 00:05:00,131,0
3,0,0,2,12981,2022-11-14 07:12:27,0 days 00:05:00,131,0
4,0,0,2,12981,2022-11-14 07:17:27,0 days 00:05:00,131,0

In [ ]:
'''
SOLDADORA
Para el TURNO 3: Primero revisa si la columna del turno seleccionado esta vacio o no, si esta vacio no se producieron piezas y en caso contrario agarra el primer y 
ultimo dato y los convierte en int, resta al ultimo dato con el primero. Si la cantidad de piezas hechas es menor a cero no se hicieron piezas y sino te tira la cantidad 
que se hicieron.
'''
if TURNO3['Piezas_Soldadora'].empty == False: 
  Piezas_Soldadora_primer_datoT3 = int(TURNO3['Piezas_Soldadora'][:1])
  Piezas_Soldadora_ultimo_datoT3 = int(TURNO3['Piezas_Soldadora'][-1:])
  cantidadDePiezasHechas3 = Piezas_Soldadora_ultimo_datoT3 - Piezas_Soldadora_primer_datoT3
  if cantidadDePiezasHechas3 < 0:
    print("No se hicieron piezas")
  else:
    print("La cantidad de piezas hechas en el TURNO 3 son: ", cantidadDePiezasHechas3)
else: 
  #Sino hay ninguna fila, llenarlas con ceros, 0.
  cantHechasPiezas3 = 0
  print("No se hicieron piezas", cantHechasPiezas3)

La cantidad de piezas hechas en el TURNO 3 son:  0

In [ ]:
# SOLDADORA
# Agrega a la tabla la columna de Cantidad_Piezas_T3_Totales 
tabla_nueva2['Cantidad_Piezas_T3_Totales'] = cantidadDePiezasHechas3
tabla_nueva2.head(1)

,S1,S2,S3,Piezas_Soldadora,Fecha_y_Hora,Diferencia_F_H,Cantidad_Piezas_T1_Totales,Cantidad_Piezas_T2_Totales,Cantidad_Piezas_T3_Totales
0,0,0,2,12981,2022-11-14 06:57:27,0 days 00:05:00,131,0,0

In [ ]:
#CANTIDAD DE PIEZAS SOLDADORA (EL ACTUAL MENOS EL ANTERIOR)
piezas_soldora1 = tabla_nueva2["Piezas_Soldadora"].astype(int)
tabla_nueva2['Contador_Piezas_Soldadora']=piezas_soldora1.diff(1)
print("La suma:",tabla_nueva2.loc[tabla_nueva2["Contador_Piezas_Soldadora"]>0,"Contador_Piezas_Soldadora"].sum())
tabla_nueva2.head(1)

La suma: 183.0

,S1,S2,S3,Piezas_Soldadora,Fecha_y_Hora,Diferencia_F_H,Cantidad_Piezas_T1_Totales,Cantidad_Piezas_T2_Totales,Cantidad_Piezas_T3_Totales,Contador_Piezas_Soldadora
0,0,0,2,12981,2022-11-14 06:57:27,0 days 00:05:00,131,0,0,NaN

In [ ]:
#Genera una nueva columna Tiempo_STD_x_pieza que es el tiempo estandar (173 segundos). ESTANDAR SOLADADORA
for i in range(len(tabla_nueva2)):
  Tiempo_STD_x_pieza = ("173")

In [ ]:
#Agrega al DataFrame la columna Tiempo_STD_x_pieza que es tiempo estandar y son 173 segundos por pieza
tabla_nueva2['Tiempo_STD_x_pieza'] = Tiempo_STD_x_pieza
#tabla_nueva2.head(10)

In [ ]:
#Recorre sobre Fecha_y_Hora y resta el siguiente menos el anterior COPIAAAAAAA
for i in range(len(tabla_nueva2['Fecha_y_Hora'])-1):
  diferencia = tabla_nueva2['Fecha_y_Hora'][i+1] - tabla_nueva2['Fecha_y_Hora'][i]
  segundos = diferencia.total_seconds()
  #print(segundos)

In [ ]:
#Genera una nueva columna Tiempo_Produccion que es son 300 segundos
for i in range(len(tabla_nueva2)):
  Tiempo_Produccion_Segundos = (segundos)

In [ ]:
#Agrega al DataFrame la columna Tiempo_Produccion que son 300 segundos
tabla_nueva2['Tiempo_Produccion'] = Tiempo_Produccion_Segundos
#tabla_nueva2.head(10)

In [ ]:
#Remplazar los NaN por ceros SOLDADORA
tabla_nueva2['Contador_Piezas_Soldadora'] = tabla_nueva2['Contador_Piezas_Soldadora'].replace(np.nan, 0)

In [ ]:
#Convierte los float de SOLDADORA a int del Contador_Piezas_Soldadora
Contador_Piezas_Sold =  tabla_nueva2["Contador_Piezas_Soldadora"].astype(int) #convierte a int 
Tiempo_Pro =  tabla_nueva2["Tiempo_Produccion"].astype(int) #convierte a int

In [ ]:
# ---- ACA TERMINA LA PRIMERA PARTE DE LIMPIEZA ----

In [ ]:
tabla_nueva2.head(1)

,S1,S2,S3,Piezas_Soldadora,Fecha_y_Hora,Diferencia_F_H,Cantidad_Piezas_T1_Totales,Cantidad_Piezas_T2_Totales,Cantidad_Piezas_T3_Totales,Contador_Piezas_Soldadora,Tiempo_STD_x_pieza,Tiempo_Produccion
0,0,0,2,12981,2022-11-14 06:57:27,0 days 00:05:00,131,0,0,0.0,173,300.0

In [ ]:
#tabla_nueva2.head(15)

In [ ]:
#Se fija si Contador_Piezas_Soldadora es igual a cero o no, si es cero quiere decir que es igual al Tiempo_Produccion (300 seg) y sino es cero hace Contador_Piezas_Soldadora por 173 seg
Parada_final = []
for i in Contador_Piezas_Sold:
  if i == 0:
    igual_cero = (i+segundos)
    Parada_final.append(igual_cero)
  else: 
    diferente_cero = (i*173)
    Parada_final.append(diferente_cero)
#Parada_final

In [ ]:
#Agrega al DataFrame de tabla el DataFrame de diferencia de Fecha y Hora, agrega una columna
tabla_nueva2['Parada_final'] = Parada_final
#tabla_nueva2

In [ ]:
#Hace la tabla Parada_estado y remplaza los ceros por 300
Contador_Piezas_Sold =  tabla_nueva2["Contador_Piezas_Soldadora"].astype(int) #convierte a int 
Tiempo_Pro =  tabla_nueva2["Tiempo_Produccion"].astype(int) #convierte a int 
parada_Final = tabla_nueva2["Parada_final"].astype(int) #convierte a int 

for i in tabla_nueva2["Tiempo_Produccion"]:
  Parada_final_real = (Tiempo_Pro - parada_Final)
  
tabla_nueva2["Parada_estado"] = Parada_final_real
tabla_nueva2['Parada_estado'] = tabla_nueva2['Parada_estado'].replace(0, segundos)
#tabla_nueva2.head(10)

In [ ]:
#Trasnforma Parada_estado a int
remplazo_mayor = tabla_nueva2['Parada_estado'].astype(int)
#remplazo_mayor

In [ ]:
#Todos los que son menores a -180 los remplaza por -180
lista_mayor = []
for i in remplazo_mayor:
  if i <= -180:
    lista_mayor.append(-180)
  else: 
    lista_mayor.append(i)
tabla_nueva2["lista_mayor"] = lista_mayor
#tabla_nueva2.head(10)

In [ ]:
#tabla_nueva2[["Fecha_y_Hora","Piezas_Soldadora","Diferencia_F_H","Cantidad_Piezas_T1_Totales",	"Contador_Piezas_Soldadora",	"Tiempo_STD_x_pieza",	"Tiempo_Produccion",	"Parada_final",	"Parada_estado",	"lista_mayor"]]

In [ ]:
#tabla_nueva2["lista_mayor"].head(5)

In [ ]:
#tabla_nueva2["Contador_Piezas_Soldadora"].head(5)

In [ ]:
lista_2 = tabla_nueva2['lista_mayor']

In [ ]:
list_1 = tabla_nueva2["Contador_Piezas_Soldadora"]
lista_1 = list_1.astype(int)

In [ ]:
#list_1 = [0,1,0,0,0,0,0,6,2,2,2,1,2,2,1,1,1,1,1,0,0,2,1,2,2]
#list_2 = [300,127,300,300,300,300,300,-180,-46,-46,-46,127,-46,-46,127,127,127,127,127,300,300,-46,127,-46,-46]

emptyResult = [0] * len(lista_1)
data = {"Contador_Piezas_Soldadora1": lista_1, "lista_mayor1": lista_2, "Paradas_soldadora": emptyResult}
dz = pd.DataFrame(data)

def forPositives(dz, index):
    sum = 0
    for i in range(index, len(dz)):
        # check if the value is negative
        if dz.iloc[i,1] < 0:
            # if the value is negative, stop iterating
            dz.iloc[i-1,2] = sum
            index = i
            break
        else:
            # if the value is non-negative, add it to the sum
            sum = sum + dz.iloc[i,1]
            index = i
    return index

def forNegatives(dz, index):
    sum = 0

    for i in range(index, len(dz)):
    # check if the value is negative
        if sum > 0:
            # if the value is positive, stop iterating
            dz.iloc[i-1,2] = sum

            for j in range(i, len(dz)-1): #QUE CONVIENE PONERLE ESE -1 QUE NO ESTABA O .... --->
                if dz.iloc[j,0] == 1 and not dz.iloc[j+1,0] == 0: #ORIGINAL: if dz.iloc[j,0] == 1 and not dz.iloc[j+i,0] == 0: SACARLE A ESTE EL +1 QUE SI ESTABA
                    dz.iloc[j,2] = dz.iloc[j,1]
                    index = j
                elif dz.iloc[j,0] == 1 and dz.iloc[j+1,0] == 0:
                    sum = 0
                    for k in range(j, len(dz)):
                        if k == j:
                            sum = sum + dz.iloc[k,1]
                            index = k
                            j = i = k
                        elif dz.iloc[k,1]<0 or dz.iloc[k,0]>=1:
                            # what the hell
                            dz.iloc[k-1,2] = sum
                            index = k
                            j = i = k
                            break
                        else:
                            sum = sum + dz.iloc[k,1]
                            index = k
                            j = k = i

                else:
                    index = j
                    break
            index = i
            break
        else:
            # if the value is negative, add it to the sum
            sum = sum + dz.iloc[i,1]
            index = i
    return index

checkWhile = True
index = 0
while(True):
    if index == len(dz) - 1:
        break
    elif dz.iloc[index, 1] >= 0:
        index = forPositives(dz, index)
    elif dz.iloc[index, 1] < 0:
        index = forNegatives(dz, index)
    
#print(dz)

In [ ]:
#dz.head(5)

In [ ]:
#Une el dataFrame tabla_nueva2 con dataFrame dz
TABLA = pd.concat([tabla_nueva2, dz], axis=1)
#TABLA.head(10)

In [ ]:
#Elimina 'Contador_Piezas_Soldadora', 'lista_mayor','PBZ1','PBZ1.1','PBZ1.1.1' de la tabla
TABLA2 = TABLA.drop(['Contador_Piezas_Soldadora', 'lista_mayor'], axis=1)
#TABLA2.head(10)

In [ ]:
#Para que muestre solo las columnas que nos interesa 
TABLA_Soldadora = TABLA2[['Fecha_y_Hora','Piezas_Soldadora', 'Cantidad_Piezas_T1_Totales', 'Cantidad_Piezas_T2_Totales', 'Cantidad_Piezas_T3_Totales', 'Tiempo_STD_x_pieza', 'Tiempo_Produccion', 'Parada_estado','Contador_Piezas_Soldadora1','lista_mayor1', 'Paradas_soldadora']]

In [ ]:
#TABLA_Soldadora

In [ ]:
# Columna de la suma de todas las paradas que sean paradas
suma = 0
lista_paradas_totales = []
for i in TABLA_Soldadora['Paradas_soldadora']:
  suma += i
  lista_paradas_totales.append(suma)
  suma_paradas = lista_paradas_totales[-1] 
#suma_paradas

In [ ]:
# Columna de la suma de todas las paradas que sean paradas
# Agrega a la tabla la columna de suma_paradas 
TABLA_Soldadora['Paradas_Totales'] = suma_paradas
TABLA_Soldadora.head(5)

,Fecha_y_Hora,Piezas_Soldadora,Cantidad_Piezas_T1_Totales,Cantidad_Piezas_T2_Totales,Cantidad_Piezas_T3_Totales,Tiempo_STD_x_pieza,Tiempo_Produccion,Parada_estado,Contador_Piezas_Soldadora1,lista_mayor1,Paradas_soldadora,Paradas_Totales
0,2022-11-14 06:57:27,12981,131,0,0,173,300.0,300,0,300,0,65704
1,2022-11-14 07:02:27,12981,131,0,0,173,300.0,300,0,300,0,65704
2,2022-11-14 07:07:27,12981,131,0,0,173,300.0,300,0,300,0,65704
3,2022-11-14 07:12:27,12981,131,0,0,173,300.0,300,0,300,0,65704
4,2022-11-14 07:17:27,12981,131,0,0,173,300.0,300,0,300,1500,65704

In [ ]:
'''#TIEMPO CALENDARIO

# Tiempo calendario = hora actual - inicio de turno (8hs) / ultimo dato ejem: 15:10:00 - 08:00:00 
oj = TABLA_Soldadora[['Fecha_y_Hora', 'Contador_Piezas_Soldadora1']]
ok = pd.DataFrame(oj)

# Obtener la última fila con el último valor mayor a cero
last_positive_row = ok.loc[ok['Contador_Piezas_Soldadora1'].gt(0)].tail(1)

fecha_actual = last_positive_row
fecha_actual[['Fecha_y_Hora']]

# Definir las horas a restar
hora_inicio_turno1 = datetime.strptime('08:00', '%H:%M')
hora_2 = fecha_actual[['Fecha_y_Hora']]

tiempo = hora_2 - hora_inicio_turno1
#tiempo'''

"#TIEMPO CALENDARIO\n\n# Tiempo calendario = hora actual - inicio de turno (8hs) / ultimo dato ejem: 15:10:00 - 08:00:00 \noj = TABLA_Soldadora[['Fecha_y_Hora', 'Contador_Piezas_Soldadora1']]\nok = pd.DataFrame(oj)\n\n# Obtener la última fila con el último valor mayor a cero\nlast_positive_row = ok.loc[ok['Contador_Piezas_Soldadora1'].gt(0)].tail(1)\n\nfecha_actual = last_positive_row\nfecha_actual[['Fecha_y_Hora']]\n\n# Definir las horas a restar\nhora_inicio_turno1 = datetime.strptime('08:00', '%H:%M')\nhora_2 = fecha_actual[['Fecha_y_Hora']]\n\ntiempo = hora_2 - hora_inicio_turno1\n#tiempo"

In [ ]:
'''#TIEMPO CALENDARIO

tiempo['Fecha_y_Hora'] = tiempo['Fecha_y_Hora'].astype(str)
# Separar la columna Fecha_y_Hora en dos columnas de fecha y hora
tiempo[['Fecha', 'Hora']] = tiempo['Fecha_y_Hora'].str.split(' ', n=1, expand=True)
# Eliminar las columnas 'Columna1' y 'Columna2'
tiempo = tiempo.drop(['Fecha_y_Hora', 'Fecha'], axis=1)
tiempo['Hora'] = tiempo['Hora'].str.replace('days ', '')
tiempo'''

"#TIEMPO CALENDARIO\n\ntiempo['Fecha_y_Hora'] = tiempo['Fecha_y_Hora'].astype(str)\n# Separar la columna Fecha_y_Hora en dos columnas de fecha y hora\ntiempo[['Fecha', 'Hora']] = tiempo['Fecha_y_Hora'].str.split(' ', n=1, expand=True)\n# Eliminar las columnas 'Columna1' y 'Columna2'\ntiempo = tiempo.drop(['Fecha_y_Hora', 'Fecha'], axis=1)\ntiempo['Hora'] = tiempo['Hora'].str.replace('days ', '')\ntiempo"

In [ ]:
'''# TIEMPO CALENDARIO
# TRANSFORMAR MINUTOS A SEGUNDOS 

from datetime import timedelta
# Convertir la columna 'Duration' a un objeto timedelta
tiempo['Hora'] = pd.to_timedelta(tiempo['Hora'])
# Extraer el número total de segundos de cada valor timedelta y reemplazar la columna 'Duration'
tiempo['Hora'] = tiempo['Hora'].dt.total_seconds().astype(int)
'''

"# TIEMPO CALENDARIO\n# TRANSFORMAR MINUTOS A SEGUNDOS \n\nfrom datetime import timedelta\n# Convertir la columna 'Duration' a un objeto timedelta\ntiempo['Hora'] = pd.to_timedelta(tiempo['Hora'])\n# Extraer el número total de segundos de cada valor timedelta y reemplazar la columna 'Duration'\ntiempo['Hora'] = tiempo['Hora'].dt.total_seconds().astype(int)\n"

In [ ]:
#tiempo

In [ ]:
'''# TIEMPO CALENDARIO 
# Agrega a la tabla la columna de Hora 
TABLA_Soldadora['Tiempo_calendario_T1'] = tiempo
TABLA_Soldadora['Tiempo_calendario_T1'] = TABLA_Soldadora['Tiempo_calendario_T1'].fillna(11861)

TABLA_Soldadora.head(5)'''

"# TIEMPO CALENDARIO \n# Agrega a la tabla la columna de Hora \nTABLA_Soldadora['Tiempo_calendario_T1'] = tiempo\nTABLA_Soldadora['Tiempo_calendario_T1'] = TABLA_Soldadora['Tiempo_calendario_T1'].fillna(11861)\n\nTABLA_Soldadora.head(5)"

In [ ]:
TABLA_Soldadora.head(5)

,Fecha_y_Hora,Piezas_Soldadora,Cantidad_Piezas_T1_Totales,Cantidad_Piezas_T2_Totales,Cantidad_Piezas_T3_Totales,Tiempo_STD_x_pieza,Tiempo_Produccion,Parada_estado,Contador_Piezas_Soldadora1,lista_mayor1,Paradas_soldadora,Paradas_Totales
0,2022-11-14 06:57:27,12981,131,0,0,173,300.0,300,0,300,0,65704
1,2022-11-14 07:02:27,12981,131,0,0,173,300.0,300,0,300,0,65704
2,2022-11-14 07:07:27,12981,131,0,0,173,300.0,300,0,300,0,65704
3,2022-11-14 07:12:27,12981,131,0,0,173,300.0,300,0,300,0,65704
4,2022-11-14 07:17:27,12981,131,0,0,173,300.0,300,0,300,1500,65704

In [ ]:
'''Columna nombre de la parada, si es de la soldadora tiene que ser D0 PARADA(numeroContador) --> columna con la causa
- Tiempo calendario = hora actual - inicio de turno (8hs) 
- Columna de la suma de todas las paradas que sean paradas 
Tiempo efectivo = tiempo calendario - todo lo que la maquina paro (estructurales + operativas + no operativas)
Ut disponible = tiempo disponible / tiempo efectivo


Columna tiene que sumar todas las paradas operativas que depende de produccion 
Columna que sume todas las paradas no operativas
Columna de paradas operativas y no operativas
Columna con todas las sumas de  todas las paradas estructurales
Tiempo posible = tiempo calendario - todas las paradas estructurales
Tiempo disponible = tiempo posible - las paradas

Utilizacion posible = tiempo posible / tiempo efectivo
'''

'Columna nombre de la parada, si es de la soldadora tiene que ser D0 PARADA(numeroContador) --> columna con la causa\n- Tiempo calendario = hora actual - inicio de turno (8hs) \n- Columna de la suma de todas las paradas que sean paradas \nTiempo efectivo = tiempo calendario - todo lo que la maquina paro (estructurales + operativas + no operativas)\nUt disponible = tiempo disponible / tiempo efectivo\n\n\nColumna tiene que sumar todas las paradas operativas que depende de produccion \nColumna que sume todas las paradas no operativas\nColumna de paradas operativas y no operativas\nColumna con todas las sumas de  todas las paradas estructurales\nTiempo posible = tiempo calendario - todas las paradas estructurales\nTiempo disponible = tiempo posible - las paradas\n\nUtilizacion posible = tiempo posible / tiempo efectivo\n'